.section__content--about {
	@extend .section__content;
}

.section__element--about:first-of-type {
	grid-column: 1 / span 7;
}

.section__element--about:nth-of-type(2) {
	grid-column: 8 / span 5;
}

.about__text {
	font-size: 14px;
	font-weight: 300;
	line-height: 25px;
	color: $text-color-dark;
	margin-bottom: 34px;
}

.about__image {
	width: 100%;
	max-width: 445px;
	box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.42);
	&:hover {
		cursor: pointer;
	}
}