.section--footer {
	@extend .section;
	background-color: $bg-color-dark;
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
	position: relative;
	@include respond-to('medium') {
    padding-top: 40px;
  }
}

.section__element--footer {
	grid-column: span 4;
	@include respond-to('small') {
		grid-column: span 12;
	}
}

.section__element--footer:first-child {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@include respond-to('small') {
		align-items: center;
	}
}

.footer__social {
	@extend .fa__container;
}

.footer__copy {
	font-size: 14px;
	line-height: 25px;
	color: $text-color-white;
	text-transform: uppercase;
	font-weight: 400;
	@include respond-to('small') {
		padding-top: 30px;
	}
}

.footer__note {
	font-size: 12px;
	line-height: 21px;
	font-weight: 300;
	color: $text-color-light;
	@include respond-to('small') {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}

.footer__newsletter {
	background-color: $detail-color-dark;
  border-radius: 2px;
  padding: 35px 35px 45px;
	text-align: center;
	@include respond-to('small') {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
}

.newsletter__input {
	@extend .contact__input;
	text-align: center;
	color: $text-color-subtitle;
	width: 80%;
	max-width: 220px;
	margin-bottom: 30px;
	background-color: $detail-color-dark;
	@include respond-to('small') {
		max-width: 320px;
	}
}

.button--newsletter {
	@extend .button;
	margin-left: auto;
	margin-right: auto;
}
