.section--footer {
	@extend .section;
	background-color: $bg-color-dark;
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
}

.section__element--footer {
	grid-column: span 4;
}

.section__element--footer:first-child {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer__social {
	@extend .fa__container;
}

.footer__copy {
	font-size: 14px;
	line-height: 25px;
	color: $text-color-white;
	text-transform: uppercase;
	font-weight: 400;

}

.footer__note {
	font-size: 12px;
	line-height: 21px;
	font-weight: 300;
	color: $text-color-light;
}

.footer__newsletter {
	background-color: $detail-color-dark;
  border-radius: 2px;
  padding: 35px 35px 45px;
	text-align: center;
}

.newsletter__input {
	@extend .contact__input;
	text-align: center;
	color: $text-color-subtitle;
	max-width: 220px;
	margin-bottom: 30px;
	background-color: $detail-color-dark;
}

.bg1_copy_2 {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 1005px;
  top: 7114px;
  width: 350px;
  height: 198px;
  z-index: 62;
}
