.section--logos {
	@extend .section;
	background-color: $bg-color-white;
	border-top: 2px solid #cfcfcf;
	border-bottom: 2px solid #cfcfcf;
	padding-top: 50px;
	padding-bottom: 50px;
}

.section__element--logos {
	grid-column: span 2;
	display: flex;
	justify-content: center;
	align-items: center;
}