.section--logos {
	@extend .section;
  @extend .aside;
	padding-top: 50px;
	padding-bottom: 50px;
}

.section__element--logos {
	grid-column: span 2;
	display: flex;
	justify-content: center;
	align-items: center;
}