.fa__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.fa__icon {
	color: $text-color-white;
	background-color: $detail-color-light;
	border-radius: 50%;
	width: 34px;
	height: 34px;
	text-align: center;
	font-size: 14px;
	line-height: 34px;
	margin-right: 6px;
	margin-top: 5px;
	margin-bottom: 5px;
	&:last-of-type {
		margin-right: 0;
	}
	&:hover {
		background-color: $detail-color;
  	cursor: pointer;			
	}
}

.fa__icon--dark {
	@extend .fa__icon;
	background-color: $detail-color-dark;
}