@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');

body {
	background-color: $bg-color-light;
	font-family: 'Montserrat', sans-serif;
}

.section {
	width: 100%;
	padding-bottom: 60px;
}

.section__header {
	@extend .container;
	padding-top: 60px;
	padding-bottom: 50px;
	text-align: center;
	text-transform: uppercase;
}

.header__title {
	font-size: 30px;
	line-height: 30px;
	font-weight: 600;
	margin-bottom: 15px;
}

.header__subtitle {
	font-size: 14px;
	line-height: 30px;
	font-weight: 600;
	color: $text-color-subtitle;
}

.section__content {
	@extend .container;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 30px;
	grid-row-gap: 30px;
	position: relative;
	@include respond-to('small') {
		grid-column-gap: 15px;
	}
}

.section__highlight {
	font-size: 18px;
	line-height: 18px;
	font-weight: 600;
	color: $text-color-white;
	text-transform: uppercase;
}

.section__subtle {
	font-size: 12px;
	line-height: 21px;
	font-weight: 300;
	color: $text-color-light;
}

.section__footer {
	@extend .container;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.aside {
  background-color: $bg-color-white;
	border-top: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
}

.container {
	width: 100%;
  max-width: 1170px;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
	margin-left: auto;
	@include respond-to('medium') {	
		padding-right: 15px;
		padding-left: 15px;
	}
}