@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');

body {
	background-color: $bg-color-light;
	font-family: 'Montserrat', sans-serif;
}

.section {
	width: 100%;
	padding-bottom: 60px;
}

.section__header {
	@extend .container;
	padding-top: 60px;
	padding-bottom: 50px;
	text-align: center;
	text-transform: uppercase;
}

.header__title {
	font-size: 30px;
	line-height: 30px;
	font-weight: 600;
	margin-bottom: 15px;
}

.header__subtitle {
	font-size: 14px;
	line-height: 30px;
	font-weight: 600;
	color: $text-color-subtitle;
}

.section__content {
	@extend .container;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-column-gap: 30px;
}

.section__highlight {
	font-size: 18px;
	line-height: 18px;
	font-weight: 600;
	color: $text-color-white;
	text-transform: uppercase;
}

.section__subtle {
	font-size: 12px;
	line-height: 21px;
	font-weight: 300;
	color: $text-color-light;
}

.section__footer {
	@extend .container;
	height: 75px;
	display: flex;
	justify-content: center;
	align-items: flex-end
}

.container {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}